@tailwind base;
@tailwind components;
@tailwind utilities;

/* delikatna baza pod dark mode */
:root {
  color-scheme: dark;
}

body {
  background-color: #05030a;
  color: #e4e4e7;
}

a {
  color: rgb(125 211 252);
}

a:hover {
  color: rgb(96 165 250);
}
